__pycache__/
*.py[cod]
*.so
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.idea/
.vscode/

pretrained/
exp/
logs/
metrics/
runs/
wandb/
data/
datasets/
splits/*
!splits/ratio_0.10/
!splits/ratio_0.10/**

*.pth
*.pt
*.ckpt
*.onnx
*.engine
*.mp4
*.avi
*.mov
*.png
*.jpg
*.jpeg
*.tif
*.tiff
*.pptx
*.xlsx
*.pdf

